.HeadContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }
    .header2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
    }
    

.header3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}
.flex-item:nth-child(1){
    float: left;
}
.flex-item:nth-child(2){
    float: right;
}
.header4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    height: 60px;
}
.flex-item:nth-child(1){
    float: left;
}

.flex-item:nth-child(2){
    float: right;
}

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: center;

    }

/* iphone-X*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3){
  .HeadContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    height: 18em;
    padding: 0 2px;
    background:linear-gradient(109.476575498932deg, rgba(86, 216, 228,1) 5.911420204978038%,rgba(154, 206, 149,1) 95.95534407027817%)
  }
  .header2{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
    float: left;
  }
  .header2 .button{
      display: flex;
      flex-direction: column;
      float: left;
      font-size: 7px;
  }
  .header3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-startr;
  }
 
  
  .lefthead3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }
  button.App12 {
      font-size: 9px;
    place-items: center;
  }
  .appnt{
      padding:0.5em;
      font-size: 9px;
  }
  .customer{
      padding-left :2em;
      font-size: 9px;
  }
  .righthead3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .header4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 4em;
    padding : 0 1em;
    width: 100%;
  }
  .left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 25px;
  }
  .view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
  }
 .stackButton{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
 .stackButton button{
     font-size: 12px;
     height: 1.8em;
     display: flex;
 }

}