.HeadContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
	background: linear-gradient(
		109.476575498932deg,
		rgba(86, 216, 228, 1) 5.911420204978038%,
		rgba(154, 206, 149, 1) 95.95534407027817%
	);
	font-family: 'Poppins', sans-serif;
}
.header2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	width: 100%;
	justify-content: flex-end;
	align-items: flex-end;
}

.header3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-content: flex-end;
	align-items: flex-end;
}
.flex-item:nth-child(1) {
	float: left;
}
.flex-item:nth-child(2) {
	float: right;
}

.flex-item:nth-child(1) {
	float: left;
}

.flex-item:nth-child(2) {
	float: right;
}

.flex-item:nth-child(3) {
	order: 0;
	flex: 0 1 auto;
	align-self: center;
}
.Dropdown {
	margin-top: -2rem;
}

.searchbardate{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-end;
	align-items: center;
	width: 100%;
  height: 60px;
  background-color: lightgray;
  margin-top: 5px;
}
.header4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-end;
	align-items: center;
	width: 100%;
  height: 60px;
  background-color: lightgray;
  margin-top: 5px;
}
.miniDropdown {
	padding: 1rem;
}
.leftbutton {
	margin-top: 2rem;
}


/* iphone 5,5se */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
	.HeadContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		height: 23em;
		padding-left: - 1rem;
		background: linear-gradient(
			109.476575498932deg,
			rgba(86, 216, 228, 1) 5.911420204978038%,
			rgba(154, 206, 149, 1) 95.95534407027817%
		);
		font-family: 'Poppins', sans-serif;
	}

	.header3 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
	}
	.searchbardate{
		display: grid;
		height: 5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr ;
		gap: 7px 7px;
		grid-template-areas: '. .'
		;
	}

	.header4 {
		height: 5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: -10px 10px;
		grid-template-areas: '. .'
		;
	}
	.leftbutton {
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		color: black;
		font-family: monospace;
		font-weight: 600;
		margin-bottom: -3rem;
	}
	.miniDropdown {
		margin-bottom: -1rem;
	}
	.stackButton {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.stackButton button {
		font-size: 10px;
		height: 1.5em;
		display: flex;
	}
}

/* iphone-678*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.HeadContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		height: 23em;
		padding: 0 2px;
		background: linear-gradient(
			109.476575498932deg,
			rgba(86, 216, 228, 1) 5.911420204978038%,
			rgba(154, 206, 149, 1) 95.95534407027817%
		);
		font-family: 'Poppins', sans-serif;
	}

	.header3 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-startr;
	}
	.searchbardate{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px 10px;
		grid-template-areas: '. .'
		;
	}

	.header4 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px 10px;
		grid-template-areas: '. .'
		;
	}
	.leftbutton {
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		color: black;
		font-family: monospace;
		font-weight: 600;
		margin-bottom: -3rem;
	}
	.miniDropdown {
		margin-bottom: -2rem;
		margin-left: 2rem;
		
	}
	.stackButton {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.stackButton button {
		font-size: 12px;
		height: 1.8em;
		display: flex;
	}
}



/* iphone-X*/

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
	.HeadContainer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		height: 23em;
		padding: 0 2px;
		background: linear-gradient(
			109.476575498932deg,
			rgba(86, 216, 228, 1) 5.911420204978038%,
			rgba(154, 206, 149, 1) 95.95534407027817%
		);
		font-family: 'Poppins', sans-serif;
	}

	.header3 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-startr;
	}
	.searchbardate{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px 10px;
		grid-template-areas: '. .'
		;
	}

	.header4 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px 10px;
		grid-template-areas: '. .'
		;
	}
	.leftbutton {
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
		color: black;
		font-family: monospace;
		font-weight: 600;
		margin-bottom: -3rem;
	}
	.miniDropdown {
		margin-bottom: -2rem;
		margin-left: 2rem;
		
	}
	.stackButton {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.stackButton button {
		font-size: 12px;
		height: 1.8em;
		display: flex;
	}
}
