@media (min-width: 768px) {
    .d-md-table-header-group {
      display: table-header-group !important;
    }
  }
  .Container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    margin-left: 4rem;
    width: 60%;
    }

.flex-item:nth-child(1) {
    order: 0;
    flex: 1 1 auto;
    align-self: center;
    }

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    }

.flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    }

    /* iphone-X*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3){

  .Container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    }
    .wrapper{
      display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }
    

  }
  